{% extends "layouts/base.twig" %}

{% block title %}Home{% endblock %}
{% block body_class %}login{% endblock %}
{% block content %}
<div class="header">
    <img src="/img/colophon-logogray.svg"/>
</div>

<div class="container">
    <h1>Good morning! Welcome back.</h1>
    <h2>Sign into your account here</h2>
    <div class="login-screen">
        <form>
            <div class="input-label">Email</div>
            <input type="text" name="email">
            <div class="input-label">Password <span class="forgot">forgot password?</span></div>
            <input type="password" name="password">
            <label class="squaredFour">
                <input type="checkbox" value="None" id="squaredFour" name="check" checked />
                <label for="squaredFour"></label>&nbsp;<span class="checkbox-text">Remember me</span>
            </label>
            <input type="submit" value="Sign in" class="btn btn-green"/>
        </form>
        <div class="footer">
            <a class="btn btn-grey">Don’t have an account yet? Sign up.</a>
        </div>
    </div>
</div>



{% endblock %}