// Font weight
$thin: 100;
$extralight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$heavy: 900;

// Default font settings
$default-font-size: 16px;
$default-font-weight: $normal;
$default-font-color: #000;
$default-font-lineheight: 1.625;